.counter {
  text-align: center;
  font-family: Arial, sans-serif;
}

.countdown {
  font-size: 24px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countdown span {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  width: 80px;
}

@media only screen and (max-width: 768px) {
  .countdown span {
    width: 100px;
    margin: 5px;
  }
}